/* Small screens (default) */
html {
  font-size: 100%; }

/* Medium screens (640px) */
@media (min-width: 40rem) {
  html {
    font-size: 112%; } }
/* Large screens (1024px) */
@media (min-width: 64rem) {
  html {
    font-size: 120%; } }
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.container {
  margin: 0 auto;
  max-width: 960px;
  width: 90%; }
