/**
 * style.css
 **/

body{
	margin: 80px auto;
	max-width:739px;
}


h1 {
  font-family: "ff-basic-gothic-web-pro";
 	font-weight: 600;
 }

 a{
 	text-decoration: none; 
 	background: #3498db;
 	color: #fff;
 	padding: 0px 5px;
 }

  p {
  	font-size:24px;
  	font-family: "chaparral-pro";
  	font-weight: 300;
  	line-height: 1.7em;
 }